# Actividad - Trabajando con Series de Pandas.
## Criterios de evaluación.

* Se deben utilizar nombres de variables descriptivos y claros (Utilizar la nomeclatura correspondiente para los nombres de variables).
* Comentarios claros y concisos que expliquen el propósito de cada sección del código.
* Utilizar mensajes de commit **descriptivos**. (Puedes utilizar la extension CONVENTIONAL COMMIT de VS-CODE). 
* Entrega en tiempo y forma.
* Todo el código desarrollado debe ser subido a un repositorio en GitHub (el nombre del repositorio de seguir la siguiente estructura: actividad_tlp3_nombre_apellido).
* Para resolver las actividades se debe insertar casillas de codigo entre cada actividad del cuaderno de Jupyter

### ¡Importante!
**El incumplimiento de los criterios de evaluación restará puntos en la nota final del práctico!**

### **Actividad 1:** 

Crear Series desde diferentes estructuras.
* Crea una Series con los números del 1 al 5
* Crea una Series a partir de un diccionario con nombres de países como claves y sus capitales como valores.

In [3]:
import pandas as pd
from pandas import Series
# todo:
# 1
serie_numeros = pd.Series([1,2,3,4,5])
print("Serie de números del 1 al 5: \n", serie_numeros)


#2
print("\n Paises y capitales: \n")
capitales = { "Argentina": "Bs As", 
                "Alemania":"Berlín", 
                "Francia": "París", 
                "Nueva Zelanda": "Wellington",
                "Dinamarca":"Copenhague"}

serie_paises = pd.Series(capitales)
print(serie_paises)

Serie de números del 1 al 5:
 0    1
1    2
2    3
3    4
4    5
dtype: int64

 Paises y capitales:

Argentina             Bs As
Alemania             Berlín
Francia               París
Nueva Zelanda    Wellington
Dinamarca        Copenhague
dtype: object

### **Actividad 2:** 
Acceso y selección de elementos.
* Usa una Series con tareas (que haceres cotidianos) de una semana
* Accede a diferentes elementos a elección.
* Cambia los valores de los dias pares.

In [8]:
import pandas as pd
# todo:
#1
tareas_semana = pd.Series({
    "Lunes": "Ir al gym",
    "Martes": "Estudiar Python",
    "Miércoles": "Ir a la peluqueria",
    "Jueves": "Jugar al Futbol",
    "Viernes": "Salir de joda",
    "Sábado": "Ir al cine",
    "Domingo": "Comer un asado"
})

print("Tareas de la semana: \n", tareas_semana)
#2 - Acceder a diferentes elementos a elección
print("\n Accedemos a los días Jueves y Domingo \n")
print("Jueves: ", tareas_semana["Jueves"], "\n Domingo: ", tareas_semana["Domingo"])

# 3 - Cambiar los valores de los días Pares.
tareas_semana["Martes"] = "Estudiar React"
tareas_semana["Jueves"] = "Jugar al Padel"
tareas_semana["Sábado"] = "Netflix and Chill"

print("Semana Modificada: \n", tareas_semana)

Tareas de la semana:
 Lunes                 Ir al gym
Martes          Estudiar Python
Miércoles    Ir a la peluqueria
Jueves          Jugar al Futbol
Viernes           Salir de joda
Sábado               Ir al cine
Domingo          Comer un asado
dtype: object

 Accedemos a los días Jueves y Domingo

Jueves:  Jugar al Futbol
 Domingo:  Comer un asado
Semana Modificada:
 Lunes                 Ir al gym
Martes           Estudiar React
Miércoles    Ir a la peluqueria
Jueves           Jugar al Padel
Viernes           Salir de joda
Sábado        Netflix and Chill
Domingo          Comer un asado
dtype: object

### **Actividad 3:**
Operaciones aritméticas. 
* Realiza las operaciones basicas con 2 series cuales quieran.
* Eleva los valores de la primer serie a 3 potencias difetentes.

In [ ]:

# todo:
serie_uno = pd.Series([1,3,5,7,9])
serie_dos = pd.Series([2,4,6,8,10])

print("Serie 1: \n",serie_uno, "\n Serie 2: \n", serie_dos)

print(" - OPERACIONES BASICAS - ")

print("SUMA: \n", serie_uno + serie_dos)
print("RESTA: \n", serie_uno - serie_dos)
print("MULTIPLICACIÓN: \n", serie_uno * serie_dos)
print("DIVISIÓN: \n", serie_dos / serie_uno)

print("Elevamos Serie 1 a 3 distintas potencias.\n")
print("Al cuadrado: \n", serie_uno ** 2, "\n Al cubo: ", serie_uno ** 3, 
        "A la cuarta: ", serie_uno ** 4)

Serie 1:
 0    1
1    3
2    5
3    7
4    9
dtype: int64
 Serie 2:
 0     2
1     4
2     6
3     8
4    10
dtype: int64
 - OPERACIONES BASICAS -
Elevamos Serie 1 a 3 distintas potencias.

Al cuadrado:
 0     1
1     9
2    25
3    49
4    81
dtype: int64
 Al cubo:  0      1
1     27
2    125
3    343
4    729
dtype: int64 A la cuarta:  0       1
1      81
2     625
3    2401
4    6561
dtype: int64

### **Actividad 4:** 
Filtrado con condiciones.
* Crea una Series de edades de 10 personas.
* Muestra solo a los mayores de 18.
* Reemplaza a los menores por "Menor de edad".

In [23]:

# todo:
edades = pd.Series([12,15,16,17,18,20,24,29,32,38])
print("Serie de Edades: \n", edades)

print("Mayores de 18 años:\n ", edades[edades>18])
edades[edades<18] = "Menor de edad"
print("Serie modificada con Menores: \n", edades)

Serie de Edades:
 0    12
1    15
2    16
3    17
4    18
5    20
6    24
7    29
8    32
9    38
dtype: int64
Mayores de 18 años:
  5    20
6    24
7    29
8    32
9    38
dtype: int64
Serie modificada con Menores:
 0    Menor de edad
1    Menor de edad
2    Menor de edad
3    Menor de edad
4               18
5               20
6               24
7               29
8               32
9               38
dtype: object

C:\Users\IPF-2025\AppData\Local\Temp\ipykernel_6656\212197191.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Menor de edad' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  edades[edades<18] = "Menor de edad"

### Actividad 5:
Estadísticas básicas.

* Crea una Series con las notas de 10 estudiantes.
* Calcula la media, mediana, desviación estándar y máximo.
* Muestra cuántos estudiantes aprobaron si el mínimo para aprobar es 6.
* Ordenar las notas de manera ascendente y descendente.

In [ ]:
import numpy as np
# todo:
notas_alu = pd.Series([1,5,7.5,8,6,4,9.5,10,8.5,2])
print("Notas de 10 Alumnos: \n", notas_alu)

media = np.mean(notas_alu)
mediana = np.median(notas_alu)
des_est = np.std(notas_alu)
maximo = np.max(notas_alu)

print(" Media: ",media, "\n Mediana: ", mediana, 
        "\n Desviación Estándar: ", des_est , "\n Nota Máxima: ", maximo)

print("Aprobados con nota 6 o mayor: \n", notas_alu[notas_alu>=6])
# Ordenamos las notas de forma Ascendente y Descendentes.
asc = notas_alu.sort_values()
desc = asc.sort_values(ascending=False)
print("Notas en orden Ascendente: \n", asc)
print("Notas en orden Descendente: \n ", desc)

Notas de 10 Alumnos:
 0     1.0
1     5.0
2     7.5
3     8.0
4     6.0
5     4.0
6     9.5
7    10.0
8     8.5
9     2.0
dtype: float64
Notas en orden Descendente:
  7    10.0
6     9.5
8     8.5
3     8.0
2     7.5
4     6.0
1     5.0
5     4.0
9     2.0
0     1.0
dtype: float64